@model string
@if (User.IsInRole(@UserRoles.Admin))
{
    <div style="position: fixed; right: 25px; bottom: 75px">
        <a class="btn btn-sm btn-success text-white" asp-action="Create" asp-controller="@Model">
            <i class="bi bi-plus-circle"></i> Thêm mới
        </a>
    </div>
}