<div class="row">
    <div class="col">
        <h4 class="text-danger">Đường dẫn không tồn tại</h4>
        <hr>
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Trở về trang chủ</a>
    </div>
</div>