<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Bạn không được phép truy cập trang này</h2>
        <p>Vui lòng quay lại trang chủ</p>
        <hr>
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">
                Trang chủ
            </a>
        </p>
    </div>
</div>