@model RegisterVM

@{
    ViewData["Title"] = "Đăng ký tài khoản";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <div class="d-flex justify-content-center">
            <p class="h3 fw-bold mb-3">@ViewData["Title"]</p>
        </div>

        <form asp-action="Register">
            <div class="mb-3">
                <label class="form-label" asp-for="EmailAddress">Email</label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="FullName">Tên đầy đủ</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="Password">Mật khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="ConfirmPassword">Nhập lại khẩu</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span>@TempData["Error"]</span>
                </div>
            }

            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-outline-success me-2" type="submit">Đăng ký</button>
                <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-info">Bỏ qua</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal Message -->
<div class="modal fade" id="mdMessage" tabindex="-1" aria-labelledby="mdMessageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdMessageLabel">Đăng ký thành công</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn đã đăng ký tài khoản thành công!
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-primary" asp-action="Index" asp-controller="Movies">
                    Trang chủ
                </a>
                <a class="btn btn-sm btn-success" asp-action="Login">
                    Đăng nhập
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        var showModel = '@ViewBag.Success';
        if (showModel == 1) {
            $("#mdMessage").modal('show');
        }
    });

    $("#mdMessage").on("hidden.bs.modal", function () {
        //window.location.href = "/{controller}/{action}/{params}";
        window.location.href = "/Movies/Index/";
    });    
</script>

<partial name="_ValidationScriptsPartial" />
}
