html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image-circle-sm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.image-circle-lg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}